html body {
  height: 100%;
  background-color: #f8f8f8;
  direction: ltr;
}
.post {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 20px;
}

.post-image {
  width:100%;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.post-image img {
  width: 100%;
  height: auto;
}
.post-content {
  flex: 1 1 auto;
}